<section class="min-h-screen bg-bg-color">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <p-scrollpanel [style]="{ width: '100%', height: '100vh' }">
      <div class="min-w-full pt-12 lg:pt-12 px-8 lg:px-20">
        <div class="inner mx-auto">
          <div class="caption mb-3">
            <h2 class="text-[32px] font-semibold text-text-color">
              Create a Account
            </h2>
            <p class="text-lg text-second-text">Create a new account</p>
          </div>
          <form class="pe-4" (ngSubmit)="submitForm()" [formGroup]="signUpForm">
            <div class="mb-3">
              @let nameControl = signUpForm.get('name');
              <label
                for="userName"
                class="block mb-1 text-base font-medium text-text-color"
                >User Name</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                >
                  <i class="fa-solid fa-user text-main-color"></i>
                </div>
                <input
                  formControlName="name"
                  type="text"
                  id="userName"
                  class="bg-white text-second-text text-[15px] font-medium rounded-lg focus:border-second-color block min-w-full ps-10 p-2.5 outline-none border-none"
                  placeholder="Enter Your Name"
                />
              </div>

              @if (nameControl?.errors && nameControl?.touched) {
              <div
                class="flex px-4 py-2 text-sm items-center mt-1 text-red-900 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <div>
                  <ul class="list-inside">
                    @if (nameControl?.getError('required')) {
                    <li>The name field is required</li>
                    }@else if (nameControl?.getError('minlength')) {
                    <li>Name Should be more than or equal 3 chars</li>
                    }@else if (nameControl?.getError('maxlength')) {
                    <li>Name Should be less than or equal 25 chars</li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>
            <div class="mb-3">
              @let mailControl = signUpForm.get('email');
              <label
                for="email"
                class="block mb-1 text-base font-medium text-text-color"
                >E-mail</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                >
                  <i class="fa-regular fa-envelope text-main-color"></i>
                </div>
                <input
                  formControlName="email"
                  type="email"
                  id="email"
                  class="bg-white text-second-text text-[15px] font-medium rounded-lg focus:border-second-color block min-w-full ps-10 p-2.5 outline-none border-none"
                  placeholder="Enter Your Mail"
                />
              </div>

              @if (mailControl?.errors && mailControl?.touched) {
              <div
                class="flex px-4 py-2 text-sm items-center mt-1 text-red-900 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <div>
                  <ul class="list-inside">
                    @if (mailControl?.getError('required')) {
                    <li>The name field is required</li>
                    }@else if (mailControl?.getError('email')) {
                    <li>Enter valid Email</li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-6">
              <div class="mb-3">
                @let passwordControl = signUpForm.get('password');
                <label
                  for="password"
                  class="block mb-1 text-base font-medium text-text-color"
                >
                  Password
                </label>
                <div class="relative">
                  <!-- أيقونة القفل -->
                  <div
                    class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                  >
                    <i class="fa-solid fa-lock text-main-color"></i>
                  </div>

                  <input
                    formControlName="password"
                    [type]="isPasswordVisible() ? 'text' : 'password'"
                    id="password"
                    class="bg-white text-second-text text-[15px] font-medium rounded-lg focus:border-second-color block min-w-full ps-10 p-2.5 outline-none border-none"
                    placeholder="Enter Strong Password"
                    (input)="onInput($event, 'password')"
                  />

                  <!-- زر تبديل إظهار/إخفاء كلمة المرور -->
                  @if (showPasswordToggle()) {
                  <button
                    type="button"
                    (click)="toggleVisibility('password')"
                    class="absolute inset-y-0 end-0 flex items-center pe-3.5"
                  >
                    <i
                      class="fa-solid text-main-color"
                      [ngClass]="
                        isPasswordVisible() ? 'fa-eye' : 'fa-eye-slash'
                      "
                    ></i>
                    <span class="sr-only">{{
                      isPasswordVisible() ? "Hide password" : "Show password"
                    }}</span>
                  </button>
                  }
                </div>

                @if (passwordControl?.errors && passwordControl?.touched) {
                <div
                  class="flex px-4 py-2 text-sm items-center mt-1 text-red-900 rounded-lg bg-red-50"
                  role="alert"
                >
                  <svg
                    class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <div>
                    <ul class="list-inside">
                      @if (passwordControl?.getError('required')) {
                      <li>The password field is required</li>
                      } @else if (passwordControl?.getError('pattern')) {
                      <li>
                        Password must start with an uppercase letter and be at
                        least 6 characters long.
                      </li>
                      }
                    </ul>
                  </div>
                </div>
                }
              </div>

              <div class="mb-3">
                @let rePasswordControl = signUpForm.get('rePassword');

                <label
                  for="Repassword"
                  class="block mb-1 text-base font-medium text-text-color"
                >
                  Confirm Password</label
                >
                <div class="relative">
                  <div
                    class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                  >
                    <i class="fa-solid fa-lock text-main-color"></i>
                  </div>
                  <input
                    formControlName="rePassword"
                    [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
                    id="confirmPassword"
                    class="bg-white text-second-text text-[15px] font-medium rounded-lg focus:border-second-color block min-w-full ps-10 p-2.5 outline-none border-none"
                    placeholder="Re-enter Password"
                    (input)="onInput($event, 'confirmPassword')"
                  />

                  <!-- زر تبديل إظهار/إخفاء تأكيد كلمة المرور -->
                  @if (showConfirmPasswordToggle()) {
                  <button
                    type="button"
                    (click)="toggleVisibility('confirmPassword')"
                    class="absolute inset-y-0 end-0 flex items-center pe-3.5"
                  >
                    <i
                      class="fa-solid text-main-color"
                      [ngClass]="
                        isConfirmPasswordVisible() ? 'fa-eye' : 'fa-eye-slash'
                      "
                    ></i>
                    <span class="sr-only">{{
                      isConfirmPasswordVisible()
                        ? "Hide password"
                        : "Show password"
                    }}</span>
                  </button>
                  }
                </div>
                @if (signUpForm.getError('mismatch') &&
                rePasswordControl?.touched) {
                <div
                  class="flex px-4 py-2 text-sm items-center mt-1 text-red-900 rounded-lg bg-red-50"
                  role="alert"
                >
                  <svg
                    class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <div>
                    <ul class="list-inside">
                      <li>Password confirmation is incorrect</li>
                    </ul>
                  </div>
                </div>
                }
              </div>
            </div>
            <div class="mb-3">
              @let phoneControl= signUpForm.get('phone');
              <label
                for="phone"
                class="block mb-1 text-base font-medium text-text-color"
              >
                Phone</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                >
                  <i class="fa-solid fa-phone text-main-color"></i>
                </div>
                <input
                  formControlName="phone"
                  type="tel"
                  id="phone"
                  class="bg-white text-second-text text-[15px] font-medium rounded-lg focus:border-second-color block min-w-full ps-10 p-2.5 outline-none border-none"
                  placeholder="Enter Your Phone"
                />
              </div>

              @if (phoneControl?.errors && phoneControl?.touched) {
              <div
                class="flex px-4 py-2 text-sm items-center mt-1 text-red-900 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  <ul class="list-inside">
                    @if (phoneControl?.getError('required')) {
                    <li>The phone field is required</li>
                    } @else if (phoneControl?.getError('pattern')) {
                    <li>must be Egyption Number</li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>
            <div class="mb-3">
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input
                    #termInput
                    id="terms"
                    type="checkbox"
                    value=""
                    class="w-4 h-4 border border-gray-300 checked:text-main-color rounded-sm bg-gray-50 focus:ring-3 focus:ring-second-color"
                    required
                  />
                </div>
                <label
                  for="terms"
                  class="ms-2 text-sm font-medium text-text-color"
                  >I agree with the
                  <a href="#" class="text-main-color underline"
                    >terms and conditions</a
                  ></label
                >
              </div>
              @if (termMsg()) {
              <div
                class="flex px-4 py-2 text-sm items-center mt-1 text-red-900 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <div>
                  <ul class="list-inside">
                    <li>You must agree to the terms and conditions.</li>
                  </ul>
                </div>
              </div>
              }
            </div>

            <div>
              @if (msgErr()) {
              <div
                class="flex items-center p-4 mb-4 mt-2 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  {{ msgErr() }}
                </div>
              </div>
              }@else if(successeded()){
              <div
                class="flex items-center p-4 mb-4 mt-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <span class="sr-only">Info</span>
                <div>✅ Done! Your Account has been created successfully.</div>
              </div>
              }
            </div>

            <div class="flex flex-col items-center justify-start space-y-4 p-2">
              <button [disabled]="isLoading()" type="submit" class="main-btn">
                Sign Up @if (isLoading()) {
                <i class="fa-solid fa-circle-notch fa-spin ms-2"></i>
                }
              </button>

              <p class="text-gray-500 text-sm">Or Sign up With</p>

              <div class="flex space-x-4">
                <img
                  src="/images/Google__G__logo.svg.png"
                  alt=""
                  class="w-8 h-8"
                />
                <img
                  src="/images/Facebook_Logo_(2019).png"
                  alt=""
                  class="w-8 h-8"
                />
                <img
                  src="/images/Apple_logo_black.svg.png"
                  alt=""
                  class="w-8 h-8"
                />
              </div>

              <p class="text-gray-500 text-sm">
                Already have an account?
                <a
                  routerLink="/login"
                  class="text-main-color font-semibold underline"
                  >Log In</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </p-scrollpanel>

    <div class="h-screen hidden md:flex justify-center relative">
      <swiper-container
        #swiperContainer
        class="mySwiper w-full"
        speed="600"
        parallax="true"
        loop="true"
        pagination-clickable="true"
        pagination="true"
        slides-per-view="auto"
      >
        <swiper-slide class=" ">
          <img
            src="/images/slider1.png"
            class="block w-screen max-w-full object-cover h-full"
            alt=""
          />
        </swiper-slide>
        <swiper-slide class="">
          <img
            src="/images/slider3.png"
            class="block max-w-full w-screen object-cover h-full"
            alt=""
          />
        </swiper-slide>
        <swiper-slide class="">
          <img
            src="/images/slider2.png"
            class="block max-w-full w-screen object-cover h-full"
            alt=""
          />
        </swiper-slide>
      </swiper-container>
      <div class="caption text-white absolute bottom-40 z-50 text-center">
        <h2 class="text-[32px] font-bold">Welcome to Trendify</h2>
        <p class="text-xl font-medium">
          Discover the latest trends, express your unique style.
        </p>
      </div>
    </div>
  </div>
</section>
