@use "@angular/material" as mat;

.nav-tabs {
  .p-tab-active {
    background-color: var(--main-color) !important;
    border: unset !important;
    border-radius: 9999999px;
  }

  .p-tablist-tab-list {
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content !important;
    margin: auto;
    padding: 10px 20px !important;
    border-radius: 99999999px;
    border-style: unset !important;
    background: #eee !important;
    border-color: unset !important;
    border-width: unset !important;
  }

  .p-tablist-active-bar {
    display: none !important;
  }

  .p-tab {
    color: #9d9daa !important;
    padding: 10px 25px !important;
    border-radius: 9999999px;
    font-size: 18px;
    font-weight: 500;
  }

  .p-tab.p-tab-active {
    color: white !important;
  }
}

owl-carousel-o {
  @media (min-width: 1300px) {
    .owl-carousel {
      position: relative;
    }

    .owl-nav {
      width: 100%;
      color: green !important;
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
      justify-content: center;
      margin-top: 0 !important;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
      background: unset !important;
      position: absolute;
      z-index: 9999;
    }

    .owl-nav .owl-prev {
      left: -35px;
    }

    .owl-nav .owl-next {
      right: -35px;
    }

    .owl-nav i {
      color: var(--main-color) !important;
      font-size: 30px !important;
    }
  }

  .owl-nav i {
    color: var(--main-color) !important;
    font-size: 20px;
  }
}
